.App {
  text-align: center;
}

.App .Weather {
  display: block;
  margin: 50px auto 100px;
  border: 1px solid #2c91e4;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  line-height: 1.5;
  box-shadow: 5x 5x 5x rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 5%,
    rgb(255, 232, 182) 55%,
    rgb(243, 177, 114) 90%
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
