.App {
  text-align: center;
}

.App .Weather {
  display: block;
  margin: 90px auto;
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  line-height: 1.5;
  box-shadow: var(--shadow);
  background: radial-gradient(
    circle at 10% 20%,
    #d1c8fa 5%,
    #b2a6e9 55%,
    #9e8dec 90%
  );
}
