.WeatherForecast .row4 {
  text-align: center;
  padding: 5px 50px 30px;
  line-height: 1.1;
}

.WeatherForecast .day {
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
  top: 5px;
}

.WeatherForecast .weather {
  max-width: 45px;
}

.WeatherForecast .temp {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.WeatherForecast .high {
  color: #fffb1f;
  text-shadow: var(--outline);
}

.WeatherForecast .low {
  color: #a7fcff;
  opacity: 0.95;
  text-shadow: var(--outline);
}
