.Weather .row1 {
  text-align: center;
  padding: 35px 0 0;
}

.Weather .descriptionImg {
  max-width: 64px;
}

.Weather .description {
  color: #2c91e4;
  font-size: 35px;
  line-height: 1.2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.Weather .row2 {
  text-align: center;
  line-height: 1;
  padding: 0 35px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Weather .group1 {
  position: relative;
  top: 3px;
}

.Weather .windSpeed {
  color: #2c91e4;
  font-size: 20px;
}

.Weather .windUnit {
  color: #4353a1;
  font-size: 17px;
  padding: 0 0 0 35px;
}

.Weather .windEmoji {
  font-size: 25px;
}

.Weather .group2 {
  position: relative;
  right: 6px;
}

.Weather .temperature {
  color: #2c91e4;
  font-size: 50px;
  padding: 0 0 0 28px;
}

.Weather .tempUnits {
  position: relative;
  right: 3px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 700;
}
.Weather .activeTemp {
  color: #2c91e4;
}
.Weather .unactiveTemp {
  color: #4353a1;
  text-decoration: none;
}

.Weather .unactiveTemp:hover {
  color: #2c91e4;
  text-decoration: underline;
}

.Weather .group3 {
  position: relative;
  top: 10px;
}

.Weather .humidity {
  color: #2c91e4;
  font-size: 20px;
}

.Weather .humidityLabel {
  color: #4353a1;
  font-size: 17px;
}

.Weather .row3 {
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Weather .set1 {
  width: 50%;
}

.Weather .sunEmoji {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

.Weather .sunriseLabel {
  color: #4353a1;
}

.Weather .sunsetLabel {
  color: #4353a1;
}

.Weather .sunriseTime {
  color: #2c91e4;
}

.Weather .sunsetTime {
  color: #2c91e4;
}

.Weather .city {
  color: #2c91e4;
  font-size: 18px;
  position: relative;
  right: 0px;
}

.Weather .search-bar {
  margin: 3px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.Weather .date {
  color: #2c91e4;
  font-size: 18px;
  position: relative;
  right: 0px;
}

.Weather .set3 {
  padding: 33px 0 0;
}

.Weather .searchButton {
  text-align: center;
  padding: 3px 4px;
  position: relative;
  right: 20px;
  color: #2c91e4;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 57px;
  height: 30px;
  background: transparent;
  border: 2px solid #4353a1;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.Weather .searchButton:hover {
  cursor: pointer;
  background: #4353a1;
}
.Weather button {
  background: transparent;
  border: transparent;
}

.Weather .location {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  right: 15px;
  top: 3px;
  color: #2c91e4;
  padding: 5px 0 0;
  background: transparent;
  border: 2px solid #4353a1;
  border-radius: 50%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.Weather .location:hover {
  cursor: pointer;
  background: #4353a1;
}

.Weather .row4 {
  text-align: center;
  padding: 15px 50px 35px;
  line-height: 1.1;
}

.Weather .day {
  color: #2c91e4;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.Weather .weather {
  max-width: 45px;
}

.Weather .temp {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.Weather .high {
  color: #fff01f;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.Weather .low {
  color: #ff7e67;
  opacity: 95%;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.Weather .row5 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  max-width: 510px;
  opacity: 85%;
  font-family: monospace;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.Weather .openSourceLink {
  text-decoration: none;
  transition: all 200ms ease;
}

.Weather .openSourceLink:hover {
  text-decoration: underline;
}

.Weather .Loading {
  margin-top: 5px;
}
