.Weather .row1 {
  text-align: center;
  padding: 6px 0 0;
}

.Weather .description {
  color: var(--primary-color);
  font-size: 35px;
  line-height: 1.2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.Weather .row2 {
  text-align: center;
  line-height: 1;
  padding: 0 35px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Weather .group1 {
  position: relative;
  top: 3px;
}

.Weather .windSpeed {
  color: var(--primary-color);
  font-size: 20px;
}

.Weather .windUnit {
  color: var(--secondary-color);
  font-size: 17px;
  padding: 0 0 0 35px;
}

.Weather .windEmoji {
  font-size: 25px;
}

.Weather .group2 {
  position: relative;
  right: 6px;
}

.Weather .temperature {
  color: var(--primary-color);
  font-size: 50px;
  padding: 0 0 0 28px;
}

.Weather .tempUnits {
  position: relative;
  right: 3px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 700;
}
.Weather .activeTemp {
  color: var(--primary-color);
}
.Weather .unactiveTemp {
  color: var(--secondary-color);
  text-decoration: none;
}

.Weather .unactiveTemp:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.Weather .group3 {
  position: relative;
  top: 10px;
}

.Weather .humidity {
  color: var(--primary-color);
  font-size: 20px;
}

.Weather .humidityLabel {
  color: var(--secondary-color);
  font-size: 17px;
}

.Weather .row3 {
  text-align: center;
  padding: 1px 0 0;
  text-shadow: var(--shadow);
}

.Weather .set1 {
  width: 50%;
}

.Weather .sunEmoji {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

.Weather .sunLabels {
  color: var(--secondary-color);
}

.Weather .sunTimes {
  color: var(--primary-color);
  position: relative;
  left: 2px;
}

.Weather .city {
  color: var(--primary-color);
  font-size: 18px;
  position: relative;
  right: 0px;
}

.Weather .search-bar {
  margin: 3px 0;
  box-shadow: var(--shadow);
}

.Weather .date {
  color: var(--primary-color);
  font-size: 18px;
  position: relative;
  right: 0px;
}

.Weather .set3 {
  padding: 33px 0 0;
}

.Weather .searchButton {
  text-align: center;
  padding: 3px 4px;
  position: relative;
  right: 20px;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 700;
  text-shadow: var(--shadow);
  width: 69px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  box-shadow: var(--shadow);
  transition: all 200ms ease-in-out;
}

.Weather .searchButton:hover {
  cursor: pointer;
  background: var(--secondary-color);
}
.Weather button {
  background: transparent;
  border: transparent;
}

.Weather .row5 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  max-width: 510px;
  opacity: 0.85;
  font-family: monospace;
  text-shadow: var(--shadow);
}

.Weather .openSourceLink {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Weather .openSourceLink:hover {
  text-decoration: underline;
}

.Weather .Loading {
  margin-top: 5px;
}
